:root{
  --mainBlue: #5285e8;
  --mainGray: #2A2A2A;
  --LightBlue: #7a9fe8;
  --mainWhite: #f3f3f3;
  --mainYelowk: #ffcd35;
}

body {
  background: var(--mainWhite);
}

h1,h2,h3,h4,.text-title {
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-weight: 800;
}

.text-title {
  color: var(--mainGray);
  font-size: 28px;
}

.navbar-dark {
  background: var(--mainGray);
}

.title-sufix {
  text-shadow: 1px 1px 2px #2a2a2ade;
  color: var(--mainYelowk);
}

/* Main componnents */
.my-cart {
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  letter-spacing: .5px;
  color: var(--mainWhite);
}