:root{
  --mainBlue: #5285e8;
  --mainGray: #2A2A2A;
  --LightBlue: #7a9fe8;
  --mainWhite: #f3f3f3;
  --mainYelowk: #ffcd35;
}

body {
  background: var(--mainWhite);
}

h1,h2,h3,h4,.text-title {
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 30px;
  text-transform: uppercase;
  font-weight: 800;
}

.text-title {
  color: var(--mainGray);
  font-size: 28px;
}

.navbar-dark {
  background: var(--mainGray);
}

.title-sufix {
  text-shadow: 1px 1px 2px #2a2a2ade;
  color: var(--mainYelowk);
}

/* Main componnents */
.my-cart {
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  letter-spacing: .5px;
  color: var(--mainWhite);
}

/* Product greed */
.product-detail .info {
  min-height: 75px;
  max-height: 75px;
  overflow: hidden;
}

.product-title {
  color: var(--mainGray);
  font-size: 20px;
  min-height: 48px;
  max-height: 48px;
}

.image-container a:hover {
  text-decoration: none;
}

.product-grid .item {
  padding-bottom: 15px;
  padding-top: 5px;
  margin-bottom: 10px;
}

.product-grid .item .inner-product-wp {
  transition: box-shadow, .3s;
  padding: 12px;
  background: #fafafa;
}

.product-grid .item:hover .inner-product-wp {
  box-shadow: 3px 2px 10px rgb(163, 163, 163);
}

.product-grid .item:hover .to-cart-btn i {
  -webkit-animation-name: bounce;
  animation-name: bounce;
  position: relative;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
}

.container-fluid {
 max-width: 1440px; 
}

.navbar-brand {
  max-width: 150px;
  position: relative;
  top: -3px;
}

.navbar-dark .navbar-nav .nav-link {
  color: rgba(255,255,255, .8);  
}

.product-modal {
  display: block;
}

.modal-dialog {
  max-width: 500px;
}
.close-modal {
  width: 20px;
  height: 20px;
  font-size: 45px;
  font-weight: 100;
  display: block;
  color: var(--mainGray);
  position: absolute;
  top: 0;
  right: 5px;
  transform: rotate(45deg);
}

.modal-dialog .action-section {
  display: flex;
}

.img-fluid {
  width: 100%;  
}

.cart-item {
  align-items: center;
  border-top: 2px solid #d3d3d3;
}

.cart-item:last-of-type {
  border-bottom: 2px solid #d3d3d3;
}

.cart-item p {
  margin-top: 1rem;
}

.remove-from-cart i {
  color: var(--mainWhite);
}

.cart-count-btn {
  width: 26px;
  padding: 5px;
  line-height: 12px;
  text-align: center;
  font-size: 20px;
}

.page-footer {
  color: #fff;
  display: block;
  background: var(--mainGray);
  position: absolute;
  bottom: 0;
  width: 100%;
}

.page-footer a {
  color: #fff;
}

#root {
    min-height: 100vh;
    padding-bottom: 60px;
    position: relative;
}


/* Animation */
@-webkit-keyframes bounce {
  0%, 50%, 100% {
    -webkit-transform: translateY(0);
  }
  25%, 75% {
    -webkit-transform: translateY(-5px);
  }
}
@keyframes bounce {
  0%, 50%, 100% {
    transform: translateY(0);
  }
  25%, 75% {
    transform: translateY(-5px);
  }
}

@media screen and (max-width: 767px) {
  .navbar-nav .nav-item {
    margin-left: 0 !important;
  }

  .navbar-brand {
    max-width: 110px;
  }
}